.album-header-container {
  margin: 55px 0 25px 0;
}

.album-header-information {
  margin: 45px 0 20px 0;
  
  .album-title, .album-artist, .album-meta-info {
    line-height: 150%;
  }

  .album-title {
    font-size: 48px;
    @include font-open-sans(300);
  }

  .album-artist {
    font-size: 24px;
    @include font-open-sans(700);
  }

  .album-meta-info {
    font-size: 16px;
    @include font-open-sans(500);
  }
}

.table.album-song-listing {
  @include font-open-sans(300);
  td {
    padding: 20px;
    border-top: 1px solid rgba(white, .4);
  }
}
