button {
  padding: 10px 20px;
  background: #D2287B;
  @include font-open-sans(700);
  color: #fff;
  border-radius: 3px;
  border: none;
  letter-spacing: 2px;
  &:hover {
    background: #9B1D64;
  }
  &:disabled {
    background: #310F59;
  }
  
}


h1 {
  font-size: 24px;
  @include font-open-sans(300);
}

.form-group input {
  border-radius: 0;
  background: rgba(255,255,255, 0.6);
  border: none;
  color: #0A032B;
  &:focus {
    border: 1px solid #D2287B;
  }
    
}

.pagination {
  border: 1px solid #D2287B;

}



.personal_thumbnail {
  position: relative;
  .img_container {
    position: absolute;
    top: 26px;
    left: 0;
    width: 180px;
    
    img {
      margin-bottom: 10px;
    }
    .upload {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }

}
  margin: 80px 0 0 0;
  
}

label {
  @include font-open-sans(300);
  font-size: 16px;

}

.account_subs {
  margin: 40px 0 40px 0;
}