.personal {
  margin-top: 75px;
}

button {
  padding: 10px 20px;
  background: #D2287B;
  @include font-open-sans(700);
  color: #fff;
  border-radius: 3px;
  border: none;
  letter-spacing: 2px;
  &:hover {
    background: #9B1D64;
  }
  &:disabled {
    background: #310F59;
  }
  &.not_active {
    background: #310F59;
  }
  &:active {
    border: none;
  }
  &.on {
    border-radius: 1px;
  }
}

.active:active {
  border: none;
}


h1 {
  font-size: 24px;
  @include font-open-sans(300);
}

.form-group input {
  border-radius: 0;
  background: rgba(255,255,255, 0.6);
  border: none;
  color: #0A032B;
  
  &:focus {
    border: 1px solid #D2287B;
  }   
}

.pagination {
  border: 2px solid #D2287B;

}

.img_container {
  width: 190px;
  img {
    margin-bottom: 10px;
  }
  .upload {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}


label {
  @include font-open-sans(300);
  font-size: 16px;
}

.account_subs {
  margin: 40px 0 40px 0;
}

.end_content {
  margin-top: 45px;
}

.card_table {
  width: 100%;
}

.card_info {
  border-top: 1px solid #fff;
  td {
    padding: 10px 0 10px 0;
  }
}

.icon.i {
      color: red;
    }

.visa_btn_container {
  margin-top: 35px;
  margin-bottom: 50px;
}

