extends layouts/player_layout

block content
  .container.album-collection
    .row.album-thumbnails
        - for(var i = 0; i < 33; i++)
          .col-md-2
            a.thumbnail(href="/album")
              img(src="/images/album-placeholder.png")
            p.album-name Album Name
            p.artist-name Artlist Name
            p.song X Song


