extends layouts/player_layout

block content
  .container.album-container
    .row.album-header-container
      .col-md-3
        img(src="/images/album-placeholder.png")
      .col-md-9.col-md-push-1
        .album-header-information
          h3.album-title The Colors
          h4.album-artist Pablo Picasso
          h5.album-meta-info 1881 on Cubism
    .row
      .col-md-12
        table.table.album-song-listing
        var createSongRow = function(songNumber, songName, songLength) {

  var $newSongRow = $('<tr>');
  $newSongRow.append('<td class="col-md-1">' + songNumber + '</td>');
  $newSongRow.append('<td class="col-md-9">' + songName + '</td>');
  $newSongRow.append('<td class="col-md-2">' + songLength + '</td>');

  return $newSongRow;
};
            
 
