extends layouts/player_layout

block content
  .container
    .col-md-2.personal
      h1 Personal Information
      .personal_thumbnail
        img.thumbnail(src="/images/user-upload-placeholder.png")
        button
    .col-md-7.col-md-push-1
      .pagination
        p test
      form
        label(for="user_name") User Name
        br 
        input(type="text", id="user_name")
        br
        label(for="email") Email
        br
        input(type="email", id="email")
        br
        .cityStateContainer
          .city
            label(for="city") City
            br
            input(type="text", id="city")
          .state
            label(for="state") State
            br
            input(type="text", id="state")
        label(for="Country") Country
        br
        input(type="text", id="country")
        br
        button
        .password_container
          label(for="password") Password
          br
          input(type="password", id="password")
          br
          label(for="passconfirm") Password Confirmation
          br
          input(type="password", id="passconfirm")
          br
          button
  //- button.default-button
  //- Non-disabled Button

  //- button.default-button(disabled="true").
  //- Disabled Button